 <section class="download bg-primary text-center" id="download">
    <div class="container">
      <div class="row">
        <div class="col-md-8 mx-auto">
          <h2 class="section-heading">Discover what all the Accounts Book is about!</h2>
          <p>Our app is available on any mobile device! Download now to get started!</p>
          <div class="badges">
              <a  id="downloadapp" class="btn btn-outline btn-xl js-scroll-trigger">Download Now</a><br/>
              <span id="versionNumber">{{version}}</span>
            {{!-- <a class="badge-link" href="#"><img src="img/google-play-badge.svg" alt=""></a>
            <a class="badge-link" href="#"><img src="img/app-store-badge.svg" alt=""></a> --}}
          </div>
        </div>
      </div>
    </div>
  </section>

  <section class="features" id="features">
    <div class="container">
      <div class="section-heading text-center">
        <h2>Features</h2>
        <p class="text-muted">Check out what you can do with this app!</p>
        <hr>
      </div>
      <div class="row">
        <div class="col-lg-4 my-auto">
          <div class="device-container">
            <div>
            {{!-- <div class="device-mockup iphone6_plus portrait white"> --}}
              <div class="device">
                <div class="screen">
                  <!-- Demo image for screen mockup, you can put an image here, some HTML, an animation, video, or anything else! -->
                  <img src="img/demo-screen-1.jpg" class="img-fluid" alt="">
                </div>
                <div class="button">
                  <!-- You can hook the "home button" to some JavaScript events or just remove it -->
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-lg-8 my-auto">
          <div class="container-fluid">
            <div class="row">
              <div class="col-lg-6">
                <div class="feature-item">
                  <i class="icon-screen-smartphone text-primary"></i>
                  <h3>Authentication</h3>
                  <p class="text-muted">To access data, master password or fingerprint authentication is required.</p>
                </div>
              </div>
              <div class="col-lg-6">
                <div class="feature-item">
                  <i class="icon-camera text-primary"></i>
                  <h3>Backup &amp; Restore</h3>
                  <p class="text-muted">Google Drive backup is allowed and can be restored in any devices logged in. And ofcourse in the presence of authentication.</p>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-lg-6">
                <div class="feature-item">
                  <i class="icon-present text-primary"></i>
                  <h3>Free to Use</h3>
                  <p class="text-muted">This app is free to download and use for any purpose!</p>
                </div>
              </div>
              <div class="col-lg-6">
                <div class="feature-item">
                  <i class="icon-lock text-primary"></i>
                  <h3>Security</h3>
                  <p class="text-muted">Since this app store confidential information, Encryptions are used to make the data safe.</p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

 


  <section class="contact bg-primary" id="contact">
  
    <div class="container">
      <h2>We
        <i class="fas fa-heart"></i>
        new friends!</h2>

      <form class="contact100-form validateform" id="validate-form" method="POST" action="/contact" enctype="multipart/form-data">

        <div class="wrap-input100 validate-input">
          <input class="input100" id="name" type="text" name="name" placeholder="Name">
          <label class="label-input100" for="name">
          <span class="lnr lnr-user"></span>
          </label>
        </div>
        <div class="wrap-input100 validate-input">
          <input class="input100" id="email" type="text" name="email" placeholder="Email">
          <label class="label-input100" for="email">
          <span class="lnr lnr-envelope"></span>
          </label>
        </div>
        <div class="wrap-input100 validate-input">
          <input class="input100" id="phone" type="text" name="phone" placeholder="Phone">
          <label class="label-input100" for="phone">
          <span class="lnr lnr-phone-handset"></span>
          </label>
        </div>
        <div class="wrap-input100 validate-input">
          <textarea class="input100" id="message" name="message" placeholder="Your message..."></textarea>
        </div>
        
        <div class="container-contact100-form-btn">
        <div class="wrap-contact100-form-btn">
        <div class="contact100-form-bgbtn"></div>
        <button type="submit" class="contact100-form-btn" id="contactSubmitBtn">Send Email</button>
        </div>
        </div>
      
      </form>
      <span class="contact-info"></span>

    </div>
  </section>

    <section class="features" id="features">
        <div class="text-center">
            <h6>from</h6>
           <h5>
               <strong style="font-weight: 800;font-size: x-large;">S H R A K E</strong>
            </h5>
        </div>
    </section>
